{% extends "base.html.j2" %}

{% block header %}
<div class="header">
  <div class="type-eyebrow">{{ eyebrow }}</div>
  <div class="type-title">{{ agenda_title }}</div>
</div>
{% endblock %}

{% block main %}
<div class="main{{ ' main--compact' if compact }}">
  <div class="agenda-list">
    {% for item in sections %}
    <div class="agenda-item">
      <div class="agenda-item__num type-subtitle">{{ "%02d" | format(loop.index) }}</div>
      <div class="type-subtitle">{{ item.title }}</div>
      {% if show_pages %}
      <div class="agenda-item__page type-body">...&ensp;{{ item.page }}</div>
      {% endif %}
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
