{% extends "base.html.j2" %}

{% block main %}
{% if hero_src %}
<img class="fullimage" src="{{ hero_src }}" alt="{{ hero_alt }}" />
<div class="fullimage-overlay"></div>
{% endif %}
<div class="main main--center al-col gap-md">
  {{ content }}
</div>
{% endblock %}
