{% extends "base.html.j2" %}

{% block header %}
<div class="header">
  {% if eyebrow %}
  <div class="type-eyebrow">{{ eyebrow }}</div>
  {% endif %}
  <div class="type-title">{{ title }}</div>
</div>
{% endblock %}

{% block main %}
<div class="main al-col gap-lg {{ 'main--compact' if compact }}">
  {{ content }}
</div>
{% endblock %}
