{% extends "base.html.j2" %}

{% block header %}
<div class="header">
  {% if eyebrow %}
  <div class="type-eyebrow">{{ eyebrow }}</div>
  {% endif %}
  <div class="type-title">{{ title }}</div>
</div>
{% endblock %}

{% block main %}
<div class="main {{ 'main--compact' if compact }}">
  <div class="layout-3col">
    <div class="col">{{ col1 }}</div>
    <div class="col">{{ col2 }}</div>
    <div class="col">{{ col3 }}</div>
  </div>
</div>
{% endblock %}
