{% extends "base.html.j2" %}

{% block main %}
<div class="main main--center al-col gap-md">
  <div class="type-display w-hero">{{ title }}</div>
  {% if subtitle %}
  <div class="type-subtitle w-hero">{{ subtitle }}</div>
  {% endif %}
</div>
{% endblock %}
